html { position: relative; margin: 0; padding: 0; }
body { margin: 0; padding: 0; text-align: left; }
#imPage { position: relative; width: 100%; }
#imHeaderBg { position: absolute; left: 0; top: 0; width: 100%; }
#imMnMnGraphics { position: absolute; top: 0; bottom: 0; z-index: 9; }
#imContentContainer { position: relative; }
#imContent { position: relative; }
#imContentGraphics { position: absolute; top: 0; bottom: 0; }
#imFooPad { float: left; margin: 0 auto; }
#imBtMnContainer { clear: both; }
.imPageRow { position: relative; clear: both; overflow: hidden; float: left; width: 100%; }
.imHGroup:after, .imUGroup:after, .imVGroup:after, .imPageRow:after { content: ""; display: table; clear: both; }
#imFooterBg { position: absolute; left: 0; bottom: 0; width: 100%; }
#imFooter { position: relative; }
html { min-width: 960px; }
html { background-image: none; background-color: #FFFFFF; }
#imPage { padding-top: 0; margin-top: 15px; margin-bottom: 0px; min-width: 960px; }
#imHeaderBg { height: 365px; background-image: url('fon4.jpg'); background-position: left top; background-repeat: repeat-x; background-attachment: scroll; background-color: transparent; }
#imHeader { position: relative; margin-bottom: 0; margin-left: auto; margin-right: auto; height: 350px; background-image: url('var5_9qkuv6e6.png'); background-position: right top; background-repeat: no-repeat; background-attachment: scroll; background-color: transparent; }
#imHeaderObjects { position: relative; height: 350px; }
#imMnMnContainer { position: absolute; top: 300px; left: 0; right: 0; margin-left: auto; margin-right: auto; }
#imMnMn { position: relative; margin-left: 15px; margin-right: auto; height: 30px; padding: 5px 5px 5px 5px; background-image: none; background-color: transparent; }
#imMnMn > ul { text-align: left; }
#imMnMn li { display: inline; }
#imMnMnGraphics { display: none; }
#imContent { min-height: 200px; padding: 5px 0 5px 0; }
#imContentGraphics { left: 0; right: 0; margin-left: auto; margin-right: auto; min-height: 200px;  background-image: none; background-color: #FFFFFF; }
#imFooterBg { height: 50px; background-image: url('fon4.jpg'); background-position: left top; background-repeat: repeat; background-attachment: scroll; background-color: #FFFFFF; }
#imFooter { margin-left: auto; margin-right: auto; height: 50px; background-image: none; background-color: transparent; }
#imFooterObjects { position: relative; height: 50px; }
#imFooPad { height: 200px; }
#imHeader, #imMnMnContainer, #imFooter { width: 960px; }
#imMnMn { width: 920px; }
#imContentGraphics { width: 960px; }
